.mainAddButton {
  padding: 10px;
  margin: 20px;
  background-color: #ffffff;
  width: 150px;
  border-radius: 10px;
  color: #d1411e;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 240, 240, 0.52);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.wrapper {
  width: 500px;
  background-color: #00AB66;
  padding: 10px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.close {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.titlee {
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  align-self: center;
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.input {
  color: #ffffff;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px 12px;
  font-size: 14px;
  border-radius: 8px;
  color: #ffffff;
}

.inputta {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px 12px;
  font-size: 14px;
  border-radius: 8px;
  color: #ffffff;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.inputSm {
  width: 25%;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.extraItems {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.extraItem {
  padding: 5px;
  font-size: 14px;
  border: 1px solid tomato;
  background-color: white;
  color: tomato;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}


.extraButton {
  width: 25%;
  border: none;
  align-self: flex-end;
  background-color: rgba(0,0,0, 0.4);
  color: #ffffff;
  padding: 10px 12px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  
} 
.addButton {
  width: 50%;
  align-self: center;
  border: none;
  background-color: #FFFFFF;
  color: #d1411e;
  padding: 12px 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  
}
